<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>210316700115-8c23afrsog9l7nclthb8dm2ntsdq7lvu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210316700115-8c23afrsog9l7nclthb8dm2ntsdq7lvu</string>
	<key>API_KEY</key>
	<string>AIzaSyDqibSx_A5ScxgphLwPkY05tLUEA8coAbI</string>
	<key>GCM_SENDER_ID</key>
	<string>210316700115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cicdGuide</string>
	<key>PROJECT_ID</key>
	<string>cicd-guide-01</string>
	<key>STORAGE_BUCKET</key>
	<string>cicd-guide-01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210316700115:ios:531560e632d9a16c426726</string>
</dict>
</plist>